* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slider {
  margin-left: "3%";
  margin-right: "4%";
  margin-bottom: 81;
}

.containerDesktop {
  max-width: 1200px;
  margin: auto;
}

.color-nav {
  background: rgb(164, 29, 52);
  background: linear-gradient(90deg, rgba(164, 29, 52, 1) 35%, rgba(20, 192, 241, 1) 100%);
  /* bordo:a41d34 ve mavi: #14c0f1 */
}

.noPadding {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.slider-main-photo {
  display: flex;
  flex-direction: row;
}

.center {
  height: 150;
  text-align: center;
}

.center-item {
  margin: auto;
  width: 90%;
}

.buttonCenter {
  position: relative;
  margin: 0 auto;
}

.centerFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigator {
  width: 100%;
}

.news {
  margin: 0 2%;
}

.content img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.subNews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.currency {
  margin: auto;
  width: 80% !important;
}

.subNews-child {
  margin-bottom: 8px;
}

.clickable {
  cursor: pointer;
}

.resize {
  width: 100%;
}

.newsDetail {
  text-align: center;
}

.detailImg {
  margin: 20px 0;
}

.spaceAround {
  padding: 7px;
  border-radius: 4px;
}

.centered {
  position: absolute;
  top: 30%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

.logo {
  margin-top: 10px;
  cursor: pointer;
  width: 90%;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.ratio {
  position: relative;
  width: 100%;
}

.imgRatio {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.sameSizeImgBrowser {
  object-fit: fill;
  width: 100%;
  height: 200px;
}

.sameSizeImgMobile {
  object-fit: fill;
  width: 100%;
  height: 100px;
}





.text {
  position: relative;
  width: 100%;
  /* Could be anything you like. */
  color: black;
  opacity: 0.7;
  letter-spacing: -1px;
  background-color: gainsboro;
}

.text-concat {
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.4em;
  /* (Number of lines you want visible) * (line-height) */
  line-height: 1.2em;
  text-align: center;
  font-family: GothamNarrow-Black;
  font-weight: 600;
}


.relativeDiv {
  width: 100%;
}

.stretchImg {
  object-fit: fill;
  width: 100%;
  height: 200px;
}

.header-text {
  position: absolute;
  bottom: 3.5%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: black;
  background-color: white;
  opacity: 0.7;
  letter-spacing: -1px;
}


.sub-header-text {
  position: absolute;
  bottom: 3%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
  background-color: black;
  opacity: 0.7;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: left;
}

.beyaz-manset {
  font-family: GothamNarrow-Black;
  font-weight: 900;
}

.currentDot {
  background-color: blueviolet;
  color: crimson;
}

.defaultStyle {
  background-color: blueviolet;
  color: crimson;
}

.dotsClass {
  top: -45px;
  width: fit-content;
  margin: auto;
}

article {
  height: 150;
  text-align: center;
}

footer {
  padding: 5px;
  background: rgb(164, 29, 52);
  background: linear-gradient(90deg, rgba(164, 29, 52, 1) 35%, rgba(20, 192, 241, 1) 100%);
  /* bordo:a41d34 ve mavi: #14c0f1 */
}

.App {
  width: 1200px;
  margin: auto;
  padding: 0 10px;
  background: #fff;
}

#root {
  background: #f8f8f8;
}

.h4 {
  display: block;
  font-size: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


.navbar-brand>img {
  padding: 0px 0px;
}

.time {
  font-weight: 100;
  font-size: smaller;
}

.google-news-subscribe {
  color: #333;
  cursor: pointer;
  font-size: 13px;
}

.google-news-button {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  height: 20px;
  margin: 0 5px;
  padding: 3px;
  text-align: center;
  width: 100px;
  cursor: pointer;
}

.google-news {
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}

.hbrmItem {
  width: 100%;
  position: relative;
  margin-bottom: 25px;
}

.hbrmTitle {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 160%;
  font-weight: 700;
  color: #333;
}

.hbrmText {
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #333;
}

.maxWidth {
  max-width: 1200px !important;
}

.date {
  font-size: 11px
}

.comment-text {
  font-size: 12px
}

.fs-12 {
  font-size: 12px
}

.shadow-none {
  box-shadow: none
}

.name {
  color: #007bff
}

.cursor:hover {
  color: blue
}

.cursor {
  cursor: pointer
}

.textarea {
  resize: none
}